package admin

import "github.com/Justwmz/personal-site/components"
import "github.com/Justwmz/personal-site/models"

templ AdminIndex(cert []models.Certifications, workExp []models.Experience, edu []models.Education) {
	@components.Layout() {
		<div class="container">
			@Certification(cert)
			@WorkExperience(workExp)
			@Education(edu)
		</div>
	}
}
